.pageText {
    position: fixed;
    left: 25%;
    top: 25%;
    justify-self: center;
    background-color: silver;
    width: 50%;
    height: 400px;
    border: 2px double black;
    border-width: 4px;
    border-radius: 5px;
    margin-bottom: 50px;
    text-align: center;
}