.nav {
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0px 30px 0px;
    
    &:visited { 
        color: black 
    }

    &:hover {
        color: blue;
    }
}

.active_link {
    color: green;
}
