#root, body, html {
    padding: 10px 0px 25px;
}

.footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    background-color: black;
    color: white;
}