.HomePage {
    background-image: url("../../assets/LandingPage.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    max-height: 95vh;
    position: fixed;
    left: 0;
    height: 95vh;
}